<%- include("partials/header") %>
Login form here

Have info and summary on what you can do here,,

a few examples on why this can help you manage,

<a href="/home"> Sign in prompt leads you here</a>

<%- include("partials/footer") %>