<%- include("../partials/header") %>

<div class="container">
	<div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center;">Create a Clothing Category</h1>
			<form action="/categories" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="category[name]" placeholder="name">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/categories">Go back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>